.page {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px 0 24px 0;
  background-color: #ffffff;
  color: #ffffff;
  max-width: 1920px;
  min-width: 320px;
  font-weight: 400;
  min-height: 100vh;
}
