.header__logo {
  width: 200px;
  height: 90px;
  border: 0;
  /*padding-left: 28px;*/
}

@media screen and (max-width: 984px) {
  .header__logo {
    width: 142px;
    height: 60px;
    padding-left: 0;
  }
}

@media screen and (max-width: 761px) {
  .header__logo {
    width: 200px;
    height: 90px;
    padding-left: 65px;
  }
}
