.page__content {
  margin-top: 56px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1200px) {
  .page__content {
    margin-top: 48px;
  }

}

@media screen and (max-width: 984px) {
  .page__content {
    margin-bottom: 88px;
  }

}

@media screen and (max-width: 761px) {
  .page__content {
    margin-bottom: 64px;
  }

}
