.header {
  box-sizing: border-box;
  margin: 0 220px 0 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 984px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 761px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
