.footer__link {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  padding-right: 140px;
  transition: 0.5s;
  color: black;
}

.footer__link:hover {
  opacity: .3;
}

.footer__link:last-child {
  padding-right: 0;
}

@media screen and (max-width: 761px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding-right: 0;
    padding-bottom: 20px;
  }

}
