.footer__links {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Myriad Pro', Arial, sans-serif;
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: black;
}

@media screen and (max-width: 761px) {
  .footer__links {
    max-width: 186px;
    flex-direction: column;
    align-items: flex-start;
  }

}
