.header__button {
  width: 18%;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.header__button:hover {
  opacity: .5;
}
