.header__button {
  width: 18%;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.header__button:last-child {
  padding-right: 0px;
}

.header__button:hover {
  opacity: .5;
}
/*@media screen and (max-width: 1200px) {
  .header__button_help {
    height: 30px;
    width: 150px;

  }

}

@media screen and (max-width: 984px) {
  .header__button_help {
    min-height: 480px;

  }

}*/

@media screen and (max-width: 761px) {
  .header__button_help {
    display: none;
  }

}
